@model IEnumerable<RestaurantPosApp.Models.MenuItem>

@foreach (var item in Model)
{

    <div class="card d-inline-block" style="width:9rem;">
        <div class="card-header">@item.Name</div>
        <div class="card-body">
            <p>
                @item.Description
            </p>
            @*<h4>Ingredients</h4>
            <ul class="list-group">
                @foreach (var recipeItem in item.Recipe)
                {
                    <li class="list-group-item">@recipeItem.Ingredient.Name</li>
                }
            </ul>*@
        </div>
        <div class="card-footer">
            <button class="btn btn-primary btn-sm" data-menuItem-id="@item.MenuItemId" data-menuItem-name="@item.Name" data-menuItem-price="@item.Price" onclick="addToOrder(this)">Add to Order</button>
            @if (User.IsInRole("Owner"))
            {
                <a class="btn btn-danger btn-sm"asp-controller="Owner"asp-action="AddOrEditMenuItem" asp-route-id="@item.MenuItemId">Edit</a>
            }
            @item.Price
        </div>

</div>
}
